[Unit]
Description=PUMA demo service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=appuser
ExecStart=

[Install]
WantedBy=multi-user.target
